[Unit]
Description=Greenera Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/local/bin/greenera server --config /root/greenera/config_testnet.json

[Install]
WantedBy=multi-user.target